{% extends 'display/base.html' %}

{% block content %}

    <div class="row justify-content-center mt-5">
        <div class="col-md-5">
            <h2><b>新增交易紀錄<b></h2>
        </div>
    </div>


    <div class="row justify-content-center mt-5">
        <div class="col-md-5">
            {% if error %}
                <div class="alert alert-danger" role="alert">
                    {{ error }}
                </div>
            {% endif %}
                {% if group == "super13%%345!!223#2&^884%%6" %}
                    <form method="POST">
                        {% csrf_token %}
                        <div class="form-group">
                            <label for="orderDate">訂單日期</label>
                            <input type="date" name="orderDate" class="form-control" id="orderDate">
                        </div>
                        <div class="form-group">
                            <label for="orderNumber">訂單編號</label>
                            <input type="text" name="orderNumber" class="form-control" id="orderNumber">
                        </div>
                        <div class="form-group">
                            <label for="username">使用者(客戶)帳號</label>
                            <input type="text" name="username" class="form-control" id="username">
                        </div>
                        <div class="form-group">
                            <label for="customerDesc">客戶名稱</label>
                            <input type="text" name="customerDesc" class="form-control" id="customerDesc">
                        </div>
                        <div class="form-group">
                            <label for="orderDesc">訂單明細</label>
                            <input type="text" name="orderDesc" class="form-control" id="orderDesc">
                        </div>
                        <div class="form-group">
                            <label for="amount">金額</label>
                            <input type="text" name="amount" class="form-control" id="amount">
                        </div>
                        <div class="form-group">
                            <label for="group">公司</label>
                            <input type="text" name="group" class="form-control" id="group">
                        </div>

                        <button type="submit" class="btn btn-primary">新增</button>
                    </form>
                {% else %}
                    <form method="POST">
                        {% csrf_token %}
                        <div class="form-group">
                            <label for="orderDate">訂單日期</label>
                            <input type="date" name="orderDate" class="form-control" id="orderDate">
                        </div>
                        <div class="form-group">
                            <label for="orderNumber">訂單編號</label>
                            <input type="text" name="orderNumber" class="form-control" id="orderNumber">
                        </div>
                        <div class="form-group">
                            <label for="username">使用者(客戶)帳號</label>
                            <input type="text" name="username" class="form-control" id="username">
                        </div>
                        <div class="form-group">
                            <label for="customerDesc">客戶名稱</label>
                            <input type="text" name="customerDesc" class="form-control" id="customerDesc">
                        </div>
                        <div class="form-group">
                            <label for="orderDesc">訂單明細</label>
                            <input type="text" name="orderDesc" class="form-control" id="orderDesc">
                        </div>
                        <div class="form-group">
                            <label for="amount">金額</label>
                            <input type="text" name="amount" class="form-control" id="amount">
                        </div>
                        <div class="form-group">
                            <input type="hidden" name="group" class="form-control" id="group" value="{{ group }}">
                        </div>

                        <button type="submit" class="btn btn-primary">新增</button>
                    </form>
                {% endif %}
            <hr>

        </div>
    </div>



{% endblock %}