{% extends 'display/base.html' %}

{% block content %}

<div class="row justify-content-center mt-5">
    <div class="col-md-5">
        <h2><b>修改交易資料<b></h2>
    </div>
</div>


<div class="row justify-content-center mt-5">

    <h3>{{ error }}</h3>
    <br><br>
    <h4>{{ purchase.orderNumber }}</h4>
        <div class="col-md-5">
            <form method="POST">
                {% csrf_token %}
                <h5>訂單日期</h5>{{ form.orderDate }}
                <h5>訂單編號</h5>{{ form.orderNumber }}
                <h5>客戶ID</h5>{{ form.customerID }}
                <h5>客戶名稱</h5>{{ form.customerDesc }}
                <h5>訂單內容</h5>{{ form.orderDesc }}
                <h5>金額</h5>{{ form.amount }}<br><br>
                <button type = "submit" >儲存變更</button>
            </form>
        </div>
</div>

{% endblock %}
