{% extends 'display/base.html' %}

{% block content %}

    <div class="row justify-content-center mt-5">
        <div class="col-md-5">
            <h2><b>帳號管理<b></h2>
        </div>
    </div>
    <br>
    {% if group != 'super' %}
        <div class="container">
              <table class="table table-hover">
                <thead>
                <tr>
                    <th>使用者帳號</th> <!-- username -->
                    <th>客戶名稱</th> <!-- customerDesc -->
                    <th>客戶ID</th> <!-- customerID -->
                    <th>是否為管理者</th> <!-- isAdmin -->
                    <th>修改</th>

                  </tr>
                </thead>
                <tbody>
                {% for account in accounts %}
                    <tr>
                        <td>{{account.username}}</td> <!-- username -->
                        <td>{{account.customerDesc}}</td> <!-- customerDesc -->
                        <td>{{account.customerID}}</td> <!-- customerID -->
                        <td>{{account.isAdmin}}</td> <!-- isAdmin -->
                        <td>
                            <a href="{% url 'editAccount' account.id %}">
                            修改
                            </a>
                        </td><!-- The edit button -->
                    </tr>
                {% endfor %}
                </tbody>
              </table>
        </div>
    {% endif %}

    {% if group == 'super' %}
        <div class="container">
              <table class="table table-hover">
                <thead>
                <tr>
                    <th>使用者帳號</th> <!-- username -->
                    <th>客戶名稱</th> <!-- customerDesc -->
                    <th>客戶ID</th> <!-- customerID -->
                    <th>公司名稱</th> <!-- group -->
                    <th>是否為管理者</th> <!-- isAdmin -->
                    <th>修改</th>

                  </tr>
                </thead>
                <tbody>
                {% for account in accounts %}
                    <tr>
                        <td>{{account.username}}</td> <!-- username -->
                        <td>{{account.customerDesc}}</td> <!-- customerDesc -->
                        <td>{{account.customerID}}</td> <!-- customerID -->
                        <td>{{account.group}}</td> <!-- group -->
                        <td>{{account.isAdmin}}</td> <!-- isAdmin -->
                        <td>
                            <a href="{% url 'editAccount' account.id %}">
                            修改
                            </a>
                        </td><!-- The edit button -->
                    </tr>
                {% endfor %}
                </tbody>
              </table>
        </div>
    {% endif %}

{% endblock %}